:root{
    --white: #ffffff;
    --blue: #1e90ff;
    --darkblue: #00008b;
    --purple: #9932cc;
    --gray: gray;
    --darker-blue: #1e1e1e;
    --black: black;
    --random-color: --random-color;
    --darkgrey: #131313;
}

html{
    background-color: white;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: var(--black);     */
    background-color: transparent;    
    padding: 10px;
    min-height: 100vh;
}

/* ----------------------------FIRST SECTION-------------------------- */

.section-title{
    align-self: center;
    
}

.section-title p{
    margin: 5px auto;
    padding: 5px;
    text-align: center;
    font-size: 4rem;
    font-family: monospace;
    font-weight: 900;
    background: linear-gradient(to right, var(--blue), var(--darker-blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    pointer-events: none;
}

.footer-link{
    align-self: center;
}


.layer3{
    background-image: url('./newtop.svg'),url('./newbottom.svg');
    background-position: top right, bottom left; 
    background-repeat:no-repeat; 
    /* background-blend-mode: screen; */
}

@keyframes background-pan2{
    from{
        background-position: 0% top;
    }
    
    to{
        background-position: 500% bottom;
    }

}

.anime-1{
    animation: background-pan2 20s linear infinite;
    background: linear-gradient( 
        to left,
            var(--darkblue),
            var(--purple),
            var(--darkblue)
    );
    background-size: 500%;
    overflow: hidden;
    margin: 0;
    position: relative;
    padding: 0;
}
/* ----------------------------SECOND SECTION-------------------------- */

.second {
    background-color: var(--black);
}

.container{
    display: flex;
    margin: 5px;
    padding: 5px;

}

.container ul{
    display: flex;
    list-style-type: none;
    color: var(--white);
    margin: 5px;
    padding: 20px 0;
    gap: 1rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.container-panel{
    display: flex;
}

 .panel:nth-child(2){
    transition-delay: 200ms;
}

 .panel:nth-child(3){
    transition-delay: 400ms;

}

 .panel:nth-child(4){
    transition-delay: 600ms;
}

.container ul li{
    margin: 5px;
    padding: 185px;
    background-color: var(--darker-blue);
    scroll-snap-align: center;

}

::-webkit-scrollbar{
    height: 5px;
    width: 5px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

::-webkit-scrollbar-thumb:horizontal{
    /* background: linear-gradient(to right, var(--blue), var(--darker-blue)); */
    background: var(--darker-blue);
}

::-webkit-scrollbar-button::before{
    content: attr('left');
}

::-webkit-scrollbar:horizontal:hover{
    zoom: 2rem;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:vertical{
    background: var(--darker-blue);
    height: 2rem;
    border-radius: 10px;
}

::-webkit-scrollbar-track-piece{
    background-color: var(--darkgrey);    
}

/* ----------------------------THIRD SECTION-------------------------- */

.third{
    /* background: linear-gradient(to right, var(--blue), var(--darker-blue)); */
    /* background: var(--darker-blue); */
    background: var(--black);

}

 #left , #right{
    display: flex;
    flex-direction: row;
    margin: 50px;
    padding: 0px;
    height: 55vh;
    color: white;
    backdrop-filter: blur(5px);
    background: transparent;
    /* background-color: hsla(0,0%,100%,.3); */
}

#right{
    flex-flow: row-reverse;
}


@media(max-width: 900px) {
     #left , #right{
        flex-direction: column;
        height: auto;
        margin: 15px;
    }
}

.left-text, .right-text{
    display: flex;
    flex-direction: column;
}

.right-text{
    overflow-y: scroll;
}

@media(max-width: 500px) {
.right-text{
    overflow-y: auto;
   }
}

.left-header p{
     color: var(--white);
     font-size: 2rem;
     font-family: monospace;
     font-weight: 900;
}

#section-border-left{
    border-width: 10px;
    border-style: solid;
    border-image: linear-gradient(to left, darkblue, darkorchid) 1;
    /* background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='120px'><text x='40' y='30' fill='darkorchid' font-size='20'>♠</text></svg>"); */
    background-image: url("./circle-scatter-haikei.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-right: none;
    position: relative;
    top: -1px;
}


 #left p{
    margin: 5px;
    padding: 5px;
}

@media(max-width: 900px) {
     #left h1{
        writing-mode: horizontal-tb;
    }
}

/* -------------------------------------------------------- */


.forum2{
    top: -10px;
    position: relative;
}

.left-header{
    align-self: center;
    background: linear-gradient(to left, darkblue, darkorchid);
    margin: 0 auto;
    padding: 10px 50px;
    /* width: fit-content; */
}

.right-header{
    position: relative;
    align-self: center;
    background: linear-gradient(to left, darkblue, darkorchid);
    margin: 0 auto;
    padding: 10px 50px;
    /* width: fit-content; */

}

@media(max-width: 400px) {
.left-header, .right-header{
    padding: 10px 88px;
   }
}

.left-header p, .right-header p{
     color: var(--white);
     font-size: 2rem;
     font-family: monospace;
     font-weight: 900;
}


 #left h1{
    writing-mode: vertical-rl;
    text-align: center;
    font-size: 3rem;
    font-family: monospace;
    margin: 2px;
    padding: 2px;
}

 #left p{
    margin: 5px;
    padding: 5px;
}

@media(max-width: 900px) {
     #left h1{
        writing-mode: horizontal-tb;
    }
}

#section-border-right{
    position: relative;
    border-width: 10px;
    border-style: solid;
    border-image: linear-gradient(to left, darkblue, darkorchid) 1;
    /* background: linear-gradient(to right, red, purple); */
    background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='120px'><text x='40' y='30' fill='darkblue' font-size='20'>♦</text></svg>");
    background-image: url("./circle-scatter-haikei2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: -10px;
    border-left: none;
}

#right h1{
    writing-mode: vertical-rl;
    text-align: center;
    font-size: 3rem;
    font-family: monospace;
    margin: 2px;
    padding: 2px;
}

 #right p{
    margin: 5px;
    padding: 5px;
}

@media(max-width: 900px) {
     #right h1{
        writing-mode: horizontal-tb;
    }
}


/* ----------------------------FOURTH SECTION-------------------------- */

.fourth .spacer{
    /* background: linear-gradient(to right, var(--blue), var(--darker-blue)); */
    /* background: var(--darker-blue); */
    background: var(--black);
    background-image: url('./layered-waves-haikei.svg');


}

.svg-background{
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

/* .svg-background{
    background-image: url( '/ffflux.svg' );
    background-size: cover;
    background-repeat: no-repeat;

} */

.spacer{
    /* aspect-ratio: 900/300; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1{
    background-image: url('./layered-waves-haikei.svg')
     /* url('./layered-waves-haikei-upside_down.svg'); */
    
}

/* .layer2{
    background-image: url('./layered-waves-haikei-upside_down.svg');
    
} */



.flip{
    transform: rotate(180deg);
}

.fifth .spacer{
    /* background: linear-gradient(to right, var(--blue), var(--darker-blue)); */
    /* background: var(--darker-blue); */
    background: var(--black);
    background-image: url('./layered-waves-haikei.svg');
}

.flow-reverse{
    display: flex;
    flex-direction: column-reverse;
}

/* .section-title p , .svg-background h1,  .footer-link p{
    transform: rotate(180deg);
}  */

@keyframes background-pan{
    from{
        background-position: 0% center;
    }
    
    to{
        background-position: 500% center;
    }

}

.sixth{
    animation: background-pan 20s linear infinite;
    background: linear-gradient( 
        to right,
            var(--darkblue),
            var(--purple),
            var(--darkblue)
    );
    background-size: 500%;
    overflow: hidden;
    margin: 0;
    position: relative;
    padding: 0;
}

/* -------------------------------------- */


#tiles {
    height: calc(100vh - 1px);
    width: calc(100vw - 1px);
    position: relative;
    z-index: 2;
    
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
  }
  
  .tile {
    cursor: pointer;
    position: relative;
    /* padding: 50px; */
  }
  
  .tile:hover:before {
    background-color: rgb(30, 30, 30);
  }
  
  .tile:before {
    background-color: var(--black);
    content: "";
    inset: 0.5px;
    position: absolute;
  }


/* -------------------------------------- */


.hidden{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
}   

@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}



.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}



